* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 300px;
    width: 500px;
    box-shadow: 0 0 6px lightgray;
    border-radius: 10px;
    display: flex;
}

.box {
    /* height: 100%; */
    width: 100%;
    background-color: white;
}

#box1 {
    border-radius: 10px 0 0 10px;
}

img {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100%;


}

#box2 {
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.title {
    letter-spacing: 5px;
}

button {
    width: 80%;
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: large;

    &:active {
        background-color: white;
        color: green;
        transition: 0.2s;
    }
}

p {
    margin: 0 4px 7px 0;
}