body{
    background: linear-gradient(135deg,#f3696e,#f8a902);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width:700px;
    height: 450px;
    background-color: white;
    border-radius: 35px;
    display: flex;
    
    
    
}
.leftbox{
    /* width:100%;
    height: 100%; */
    flex:0.5;
    /* display:flex; */
     flex-direction: row;
    justify-content: flex-start; 
     align-items: flex-start; 
     margin:20px;
}
    


.rightbox{
    /* width:100%;
    height: 100%; */
    flex:0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    border-radius:20px ;
    box-shadow:0px 0px 20px 10px rgb(232, 223, 223) ;
    
}
.rightimg{
    width:100%;
    height: 100%;
    border-radius: 20px;
    
}
.logo{
    display:flex;
    align-items: center;

}
.logo img{
    width:30px;
    height:30px;
    /* margin:5px; */
}
.service-container{
    margin-top:30px ;
}
.service-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.service-item input{
    appearance: none;
    width:14px;
    height:14px;
    outline:3px solid #f8a902;
    outline-offset:2px;
    border-radius: 4px;
    margin-right: 10px;

}
.service-item input:checked{
background-color: #f3696e;
}
.drop-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60px ;
    border:3px dotted #aaa;
    background-color:20px;
    border-radius:20px ;
}

.magic-btn{
    width:100%;
    height:41%;
    border:none;
    background-color: black;
    color:white;
    border-radius: 20px;
    cursor:pointer;
}
.loader{
    transform:rotataZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color:#fff;

}
.loader:before,
.loader:after{
    content: '';
    display: block;
    position:absolute;
    top:0;
    left: 0;
    width: inherit;
    height:inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation:1s spin linear infinite;

}
.overlay{
    width: 1000%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}
